.inputDiv{
    width: 100%;
}
.inputDiv>input
{
    font-size: 1.6rem;
}
.inputDiv>label{
    font-size: 1rem;
    color: white;
}

.myInput {
    width: 100%;
    font-size: 4rem;
    background: #e8f0fe;
    padding: 5px 8px;
    margin: 0.2rem 0;

}
.validationErr{
    border: 1px solid #e30000;
    box-shadow: 2px 1px 10px #e30000;
}

.myInput:focus {
    box-shadow: 2px 1px 10px #0057FF;
}
.validationErr:focus {
    box-shadow: 2px 1px 10px #e30000;
}