.loginPage{
    height: 100%;
    width: 100%;
    background: #1e1f23;
}

.loginForm{
    max-width: 330px;
    margin-top: 15%;
    width: 100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    gap: 1rem;

}

.textInput{
    background: #DEE9FF;
    border-radius: 0.5rem;
}
